@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Toastify__toast {
  top: 60px;
  border-radius: 15px !important;
  width: 280px;
  margin-left: auto;
}

.Toastify__progress-bar {
  opacity: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-navbar::after {
  position: absolute;
  right: 0 !important;
  font-family: 'Material Icons';
  content: '\e5df';
  font-size: 20px;
  transition: transform 0.5s ease;
}

.dropOpen::after {
  transform: rotate(90deg);
}

#product {
  background-color: white;
}


.report-card:hover .card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --border-opacity: 1;
  border-color: #fff;
  border-color: rgba(255, 255, 255, var(--border-opacity));  transform: scale(1.01);
}

.report-card:hover .footer {
  padding: 0;
  border-width: 0
}

.report-card .footer, .report-card .card {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms
}


.card {
  border-radius: 10px;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity))
}

.card .card-header {
  border-bottom-width: 1px;
  padding: 1.5rem
}

.card .card-body {
  padding: 1.5rem
}

.card .card-footer {
  border-top-width: 1px;
  padding: 1.5rem
}
